.addbtn{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: white;
    border-radius: 0.3rem;
    width: 50%;
    height: 9%;
    background-color: blue;
    margin-top: 15%;
}
.subbtn{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: white;
    border-radius: 0.3rem;
    width: 50%;
    height: 9%;
    background-color: red;
    margin-top: 10%;
}